<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Editar producto </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form method="POST" id="form-producto" action="{% url 'editar_producto' object.id_producto %}" enctype="multipart/form-data"> 
      {% csrf_token %}
    <div class="modal-body form-product">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
        <div class="col col-sm-12 col-md-12 col-lg-8 my-1">
          {{form.producto_nombre}}
          <span class="form-text" id="producto_nombre"></span>
        </div>
        <div class="col my-1">
          {{form.marca}}
          <span class="form-text" id="marca"></span>
        </div>
        <div class="col my-1">
          {{form.categoria}}
          <span class="form-text" id="categoria"></span>
        </div>
        <div class="col my-1">
          {{form.precio_unitario}}
          <span class="form-text" id="precio_unitario"></span>
        </div>
        <div class="col my-1">
          {{form.unidades_stock}}
          <span class="form-text" id="unidades_stock"></span>
        </div>
      </div>
      <div class="row">
        <div class="col my-1">
          {{form.descripcion}}
        </div>
        <span class="form-text" id="descripcion"></span>
      </div>
      <div class="row">
        <div class="col my-1">
          {{form.imagen}}
        </div>
        <span class="form-text" id="imagen"></span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      <button class="btn btn-primary" type="button" onclick="form_productos()">Editar producto</button>
    </div>
  </form>
  </div>
</div> 