{% extends "base/base.html" %}
{% block titulo %} Carrito  {% endblock %}
{% block contenido %}  
  <div class="container shadow rounded bg-body-tertiary" id="carrito">
    <h4>Carrito de compras</h4>
    {% if not carrito_productos %}
    <div class="text-center m-1">
      <img class="mb-4 img-fluid" src="static/img/carrito.png" alt="" width="100" height="100">
      <h5>Busca productos para agregar al carrito</h5>
    </div>
    {% endif %}
    {% for carrito in carrito_productos %}
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 border-top my-1 align-items-center">
      <div class="col-md-4">
        <div class="d-flex align-items-center">
            <div class="col-auto">
              <img src="{{ carrito.producto.imagen.url}}" alt="" class="img-fluid m-1" width="100" style="height: 80px;"> 
            </div>
            <p class="text-truncate m-1">{{ carrito.producto}}</p>
        </div>
      </div>
      <div class="col-md-8 flex-fill">
        <div class="d-flex align-items-center ">
          <div class="d-flex align-items-center">
            {% csrf_token %}
            <span class="">Cantidad:</span>
            <select class="form-select form-select-sm m-1" aria-label=".form-select-sm example" id="cantidad-{{ carrito.id_carrito}}" name="cantidad" onchange="editar_carrito('{{ carrito.id_carrito}}')" {% if not carrito.cantidad_select %} disabled {% endif %}>
            {% if carrito.cantidad_select  %}
              {% if carrito.cantidad == 0 %}
              <option selected>Elegir</option>
              {% endif %}
              {% for cantidad in carrito.cantidad_select %}
                {% if carrito.cantidad == cantidad %}
                  <option selected value="{{cantidad}}">{{cantidad}}</option>
                {% else %}
                  <option value="{{cantidad}}">{{cantidad}}</option>
                {% endif %}
              {% endfor%}
            {% else %}
              <option>Sin stock</option>
            {% endif %}
            </select>
          </div>
          <div>
            <button type="button" class="btn btn-secondary btn-sm " onclick="quitar_carrito('{{ carrito.id_carrito}}')">Eliminar</button>
          </div>
          <div class="col">
            {% if carrito.subtotal  %}
            <p class="d-flex justify-content-end m-1">$ {{ carrito.subtotal}}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% if carrito_productos %}
    {% if carrito_productos.total %}
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-auto justify-content-between align-items-center border-top my-1 ">
      <div class="col my-1">
        <h5>Total a pagar: $ {{ carrito_productos.total }}</h5>
      </div>
      <div class="col d-grid gap-2 my-1">
        <a class="btn btn-primary" href="{% url 'comprar_carrito' %}">Comprar</a>
      </div>
    </div>
    {% endif %}
    {% endif %}
  </div>
{% load static %}
<script src="{% static 'js/comprar.js' %}"></script> 
{% endblock %}