{% extends "base/base.html" %}
{% block titulo %} Comprar {% endblock %}
{% block contenido %}  
<div class="accordion container p-0" id="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Metodo de pago tarjeta
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
      <div class="container">
        <div class="row justify-content-center align-items-center row-cols-1 row-cols-sm-1 row-cols-md-2 mt-2">
          <div class="col " style="max-width: 350px;">
            <div class="card bg-secondary" style="width: 320px; height: 190px;">
                <div class="card-body">
                  <div class="mb-5" style="width: 58px; height: 35px; background-color: #bbb;"></div>
                  <p class="text-white">1234 1234 1234 1234</p>
                  <div class="d-flex justify-content-between">
                    <p class="text-white">NOMBRE APELLIDO</p>
                    <p class="text-white">MM/AA</p>
                  </div>
                </div>
            </div>
          </div>
            <div class="col" style="max-width: 350px;">
              <form method="post" id="form-metodo-pago" onchange="comprobar_form_metodo_pago()">{% csrf_token %}
                <input type="hidden" name="preferencia-id" value="{{preferencia.id_preferencia}}">
                {% if carrito_compra %}
                <input type="hidden" name="productos" value="{{ productos_lista }}">
                {% endif %}
              <div class="row">
                <div class="col mt-1">
                  <label for="">Nombre del titular</label>
                  {{form.tarjeta_titular}}
                  <span class="form-text" id="tarjeta_titular"></span>
                </div>
              </div>
              <div class="row">
                <div class="col mt-1">
                  <label for="">Número de documento</label>
                  {{form.dni}}
                  <span class="form-text" id="dni"></span>
                </div>
              </div>
              <div class="row">
                <div class="col mt-1">
                  <label for="">Número de la tarjeta</label>
                  {{form.tarjeta_numero}}
                  <span class="form-text" id="tarjeta_numero"></span>
                </div>
              </div>
              <div class="row">
                <div class="col mt-1">
                  <label for="">Fecha de caducidad</label>
                  {{form.tarjeta_fecha}}
                  <span class="form-text" id="tarjeta_fecha"></span>
                </div>
                <div class="col mt-1">
                  <label for="">Codigo de seguridad</label>
                  {{form.tarjeta_codigo}}
                  <span class="form-text" id="tarjeta_codigo"></span>
                </div>
              </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-auto justify-content-between border mt-2 ">
          <div class="col mb-1 mt-1">
            <h5>Total a pagar: $ {{ preferencia.preferencia_datos.total }}</h5>
          </div>
          <div class="col d-grid gap-2 mb-1 mt-1">
            <button type="button" class="btn btn-primary disabled" id="comprar-metodo-pago" onclick="comprar_metodo_pago()">Continuar</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" >
        Pagar con Mercado Pago
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-auto justify-content-between align-items-center"> 
          <div class="col m-1">
            <h5>Total a pagar: $ {{ preferencia.preferencia_datos.total }}</h5>
          </div>
          <div class="col">
            <div id="wallet_container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container shadow rounded bg-body-tertiary my-2">
  <h5>Productos</h5>
  {% for producto in productos %}
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-auto align-items-center border-top justify-content-between mb-1 g-0">
    <div class="col-md-6 d-flex align-items-center">
      <img src="{{ producto.imagen.url}}" alt="" class="img-fluid " width="100">
      <p class="text-truncate m-1">{{ producto.producto_nombre}}</p>
    </div>
    <div class="col-md-auto">
      <p class="m-1">Cantidad: {{ producto.cantidad }} | Precio unitario: $ {{producto.precio_unitario}}
      </p>
    </div>
  </div>
  {% endfor %}
</div>

<script src="https://sdk.mercadopago.com/js/v2"></script>
<script>
  const mp = new MercadoPago('{{ public_token }}'); 
  const bricksBuilder = mp.bricks();
  mp.bricks().create("wallet", "wallet_container", {
     initialization: {
       preferenceId: "{{ preference.id }}",
       redirectMode: "modal"
      },
  });
</script>

<div class="modal fade" id="modal-cargar" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered justify-content-center">
      <span class="spinner-border" style="width: 4rem; height: 4rem;" role="status" aria-hidden="true"></span>
  </div>
</div>


<div class="modal fade" id="modal-aviso-compra">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="titulo-aviso"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="body-aviso"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}