{% extends "base/base.html" %}
{% block titulo %} Perfil {% endblock %}
{% block contenido %}
<div class="container shadow rounded bg-body-tertiary my-1">
    <div class="row justify-content-center my-1 align-items-center">
        <div class="col-auto">
            <img class="" src="/static/img/login.png" alt="" width="100" height="100">
        </div>
        <div class="col">
            <h5>Usuario: {{ request.user.usuario }}</h5>
            <h5>Email: {{ request.user.email }}</h5>
        </div>
    </div>
    <div class="row d-flex justify-content-between align-items-center border-top">
        <div class="col-auto">
            <h5 class="my-1">Información</h5>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary btn-sm my-1" onclick="modal_perfil('/perfil/cambiar-password')">Cambiar contraseña</button>
            <button class="btn btn-primary btn-sm my-1" onclick="modal_perfil('/perfil/editar')">Editar información</button>
        </div>
    </div>
 
    <div class="container" id="tabla-perfil">
    <div class="row justify-content-center align-items-center my-1">
        <div class="border-top">
            <p class="my-1">Usuario: {{ request.user.usuario }}</p>
        </div>
        <div class="border-top">
            <p class="my-1">Email: {{ request.user.email }}</p>
        </div>
        <div class="border-top ">
            <p class="my-1">Nombre: {{ request.user.nombre }}</p>
        </div>
        <div class="border-top">
            <p class="my-1">Apellido: {{ request.user.apellido }}</p>
        </div>
    </div>
</div>

</div>  
<div class="modal fade" id="modal-perfil"></div>
<div class="modal fade" id="modal-aviso">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="titulo-aviso"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="body-aviso"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
{% load static %}
<script src="{% static 'js/usuario.js' %}"></script> 
{% endblock %}