{% extends "base/base.html" %}
{% block titulo %} {{ producto.producto_nombre }} {% endblock %}
{% block contenido %}
<div class="container shadow rounded bg-body-tertiary my-1">
    <div class="row my-2">
        <div class="col">
            <div class="card">
                <div class="row g-0 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center">
                    <div class="col">
                        <img src="{{ producto.imagen.url }}" class="img-fluid rounded-start" alt="" width="500" >
                    </div>
                    <div class="col">
                        <div class="card-body">
                        <h4 class="card-title text-truncate">{{ producto.producto_nombre }}</h4>
                        <p class="card-text">$ {{ producto.precio_unitario }}</p>
                        {% if producto.categoria %}
                        <p class="card-text">Categoría: <a href="{% url 'productos_filtro' 'categoria' producto.categoria.slug %}">{{ producto.categoria }}</a></p>
                        {% endif %}
                        {% if producto.marca %}
                        <p class="card-text">Marca: <a href="{% url 'productos_filtro' 'marca' producto.marca.slug %}">{{ producto.marca }}</a></p>
                        {% endif %}
                    </div>
                    </div>
                    <div class="col">
                        <div class="card-body">
                        {% if producto.unidades_stock %}
                        <h5 class="card-title">Unidades en stock: {{ producto.unidades_stock }}</h5>
                        {% else %}
                        <h5 class="card-title">Producto sin stock</h5>
                        {% endif %}
                        <div class="d-flex align-items-center">
                            <span class="mb-1 mt-1">Cantidad:</span>
                            <select class="form-select form-select-sm mb-1 mt-1"  id="cantidad" {% if not cantidad_select %} disabled {% endif %}>
                            {% if cantidad_select %}   
                              {% for cantidad in cantidad_select %}
                              <option value="{{cantidad}}">{{cantidad}}</option>
                              {% endfor%}
                            {% else %}
                              <option>Sin stock</option>
                            {% endif %}
                            </select>
                          </div>
                          {% csrf_token %}
                        <div class="mb-1 mt-1 d-grid gap-2"><button type="button" id="comprar" class="btn btn-primary" onclick="link_compra('{{ producto.slug }}')" {% if not producto.unidades_stock %} disabled {% endif %}><span id="comprar-animacion" class="spinner-border-sm" role="status" aria-hidden="true"></span> Comprar</button></div>
                        <div class="mb-1 mt-1 d-grid gap-2"><button class="btn btn-outline-primary" id="carrito"  onclick="agregar_carrito('{{ producto.id_producto }}')" {% if not producto.unidades_stock %} disabled {% endif %}><span id="carrito-animacion" class="spinner-border-sm" role="status" aria-hidden="true"></span> Agregar al carrito</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Descripción</h5>
                  <p class="card-text">{{ producto.descripcion|linebreaks }}</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 my-1">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Categoría</h5>
                  <p class="card-text">{{ producto.categoria.categoria_descripcion|linebreaks }}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Marca</h5>
                  <p class="card-text">{{ producto.marca.marca_descripcion|linebreaks }}</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}