{% extends "base/base.html" %}
{% block titulo %} Resultados {% endblock %}
{% block contenido %}  

{% if productos %}
<div class="container">
  <!-- {% if not productos.categoria %}
  {% for categoria in productos.categorias %}
  {% if not productos.marca %}
  <a href="/buscar?buscar={{ productos.consulta }}&categoria={{ categoria }}">{{ categoria }}</a>
  {% else %}

  <a href="/buscar?buscar={{ productos.consulta }}&marca={{ productos.marca }}&categoria={{ categoria }}">{{ categoria }}</a>
  {% endif %}
  {% endfor %}
  {% else %}
  <span class="badge bg-secondary">{{productos.categoria}} <a href="/buscar?buscar={{ productos.consulta }}"><span aria-hidden="true">&times;</a></span></span>
  {% endif %}
  
  {% if not productos.marca %}
  {% for marca in productos.marcas %}
  {% if not productos.categoria %}
  <a href="/buscar?buscar={{ productos.consulta }}&marca={{ marca }}">{{ marca }}</a>
  {% else %}
  <a href="/buscar?buscar={{ productos.consulta }}&categoria={{ productos.categoria }}&marca={{ marca }}">{{ marca }}</a>
  {% endif %}
  {% endfor %}
  {% endif %} -->
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 my-2">
    {% for producto in productos %}
    <div class="col my-1">
      <div class="card" style="max-width: 223px; max-height: 403px;">
        <img src="{{ producto.imagen.url }}" alt="" class="img-fluid" width="100%">
        <div class="card-footer bg-transparent">
          <h6 class="text-truncate">{{ producto.producto_nombre }}</h6>
          <span class="text-truncate">$ {{ producto.precio_unitario }}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}