{% extends "base/base.html" %}
{% block titulo %} Resultados {% endblock %}
{% block contenido %}  


{% if productos %}
<svg xmlns="http://www.w3.org/2000/svg" class="d-none" >
  <symbol id="x-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
  </symbol>
</svg>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-3 col-lg-2 ">
      <p class="fw-bold">Búsqueda: {{ productos.consulta }}</p>
      <span class="">{{ productos.cantidad_resultados }} resultados</span>
      <p class="fw-bold">Flitros</p>
      <div class="my-1">
      {% if productos.precio_min %}
      <button type="button" class="badge bg-secondary" name="precio_min" onclick="filtro_busqueda(event)">Apartir de $ {{ productos.precio_min}} &times;</button>
      {% endif %}
      {% if productos.precio_max %}
      <button type="button" class="badge bg-secondary" name="precio_max" onclick="filtro_busqueda(event)">Hasta $ {{ productos.precio_max}} &times;</button>
      {% endif %}
      {% if productos.categoria %}
      <button type="button" class="badge bg-secondary" name="categoria" onclick="filtro_busqueda(event)">{{ productos.categorias.0.categoria__categoria_nombre }}
        <svg class="bi ms-1" width="16" height="16"><use xlink:href="#x-circle-fill"/></svg>
      </button>
      {% endif %}
      {% if productos.marca %}
      <button type="button" class="badge bg-secondary" name="marca" onclick="filtro_busqueda(event)">{{ productos.marcas.0.marca__marca_nombre}} &times;</button>
      {% endif %}
      </div>
      {% if not productos.categoria %}
      <select class="form-select form-select-sm" id="categorias" name="categoria" onchange="filtro_busqueda(event)">
        <option value selected>Categorias</option>
        {% for categoria in productos.categorias %}
        <option value="{{categoria.categoria__slug}}">{{categoria.categoria__categoria_nombre}} ({{categoria.cantidad}})</option>
        {% endfor %}
      </select>
      {% endif %}
      {% if not productos.marca %}
      <select class="form-select form-select-sm" id="marcas" name="marca" onchange="filtro_busqueda(event)">
        <option value selected>Marcas</option>
        {% for marca in productos.marcas %}
        <option value="{{marca.marca__slug}}">{{marca.marca__marca_nombre}} ({{marca.cantidad}})</option>
        {% endfor %}
      </select>
      {% endif %}
      {% if not productos.precio_min and not productos.precio_max %}
      <form id="filtro-precio" onsubmit="filtro_busqueda(event)">
      <div class="row">
        <p class="fw-bold">Precio</p>
        <div class="col-6">
          <input class="form-control form-control-sm" name="precio_min" min="0" type="number" placeholder="min">
        </div>
        <div class="col-6">
          <input class="form-control form-control-sm" name="precio_max" type="number" placeholder="max">
        </div>
        <div class="col-12 d-grid gap-2 my-1">
          <button type="submit" class="btn btn-primary btn-sm">Aplicar</button>
        </div>
      </div>
    </form>
    {% endif %}
    </div>
    <div class="col-10 col-md-9 col-lg-10 container">
      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 my-2">
        {% for producto in productos %}
        <div class="col my-1">
          <a href="{% url 'producto_detalle' producto.slug %}" class="text-decoration-none">
          <div class="card" style="max-width: 223px; max-height: 403px;">
            <img src="{{ producto.imagen.url }}" alt="" class="img-fluid" width="100%">
            <div class="card-footer bg-transparent">
              <h6 class="text-truncate">{{ producto.producto_nombre }}</h6>
              <span class="text-truncate">$ {{ producto.precio_unitario }}</span>
            </div>
          </div>
        </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="d-flex justify-content-center">
    <img class="img-fluid" src="static/img/buscar.png" alt="" width="200">
  </div>
  <div class="d-flex justify-content-center">
    <h3>No se encontraron productos que coincidan con tu búsqueda</h3>
  </div>
</div>
{% endif %}
{% endblock %}