<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Editar producto </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form method="POST" id="form-producto" action="{% url 'editar_producto' object.id_producto %}" enctype="multipart/form-data"> 
      {% csrf_token %}
    <div class="modal-body form-product">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
        <div class="col col-sm-12 col-md-12 col-lg-8">
          {{form.producto_nombre}}
          <div id="producto_nombre"></div>
        </div>
        <div class="col">
          {{form.marca}}
          <div id="marca"></div>
        </div>
        <div class="col">
          {{form.categoria}}
          <div id="categoria"></div>
        </div>
        <div class="col">
          {{form.precio_unitario}}
          <div id="precio_unitario"></div>
        </div>
        <div class="col">
          {{form.unidades_stock}}
          <div id="unidades_stock"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{form.descripcion}}
        </div>
        <div id="descripcion"></div>
      </div>
      <div class="row">
        <div class="col">
          {{form.imagen}}
        </div>
        <div id="imagen"></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      <button class="btn btn-primary" type="button" onclick="form_productos()">Editar producto</button>
    </div>
  </form>
  </div>
</div> 